#destinations-hero{
      text-align: center;
      padding:60px 0;
      color:rgb(12, 12, 12);
    
}
.buttons{
    width:350px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding:30px;
}
.firs{
    background-color: #1a09d0;
    width:30px;
    border:1px solid white;
    border-radius:5px;
}


.card1{
    background-image: url(../images/addisA.jpg);
}
.card2{
    background-image: url(../images/Gonder-2.jpg);
}
.card3{
    background-image: url(../images/harar.jpg);
    display:none;
}



.call-g{
    text-align: center;
    font-weight:bold;
    color:rgb(0, 255, 140);
}
.about3{
    background-color: #fff;
    padding:30px;;

}
.about3 h4{
   
    font-weight: bold;
    color:darkgreen;
    font-size:25px;
}
.inner{
    background-color: rgb(206, 233, 206);
    margin:60px auto;
    opacity:0.8;
    padding:10px;
    
}
 .about3 ul li{
    list-style:circle;
}
.input{
    opacity:0.8;
   display:inline-block;

}
.about3{
    background-image: url(../images/about3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
}
.submit{
    background-color: green;
    width:80px;
}
/* RESPONSIVE DESIGN */
    @media(min-width:768px){
        .inner{
            width:700px;
        }
    }

    @media(min-width:1024px){
        .card3{
            display:block;
        }
    }

