
/* Hero Section */
main{
    padding:0;
    
}
main h2{
    margin:30px 0;
    text-align:center;
    weight:790px;
}
.description p{
    font-size:1.2rem;
    padding:2%;
}

#hero{
    padding: 2rem 1rem;
    background-image: url(../images/fir-image.jpg);
    background-size:cover;
    background-repeat: no-repeat;

}

#hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}



.destinations h2{
   text-align:center;
}
/* Cards Section */



.card1{
   background-image: url(../images/lalibela.jpg);
     
}
.card2{
    background-image: url(../images/simien.jpg);
}
.card3{
    background-image: url(../images/aksum.jpg);
    display:none;
}

.card4{
    background-image: url(../images/coffee.jpg);
}

.card5{
    background-image: url(../images/sofumer.jpg);
}

.card6{
    background-image: url(../images/denakil.jpg);
}
.cards2 img{
    width:30px;
    height:30px;

}
/* Footer */


/* RESPONSIVE DESIGN */
@media(min-width:1024px){
    
    .card3{
        display:block;
    }
   
    
    #hero{
        height:310px;
    }
}
