/* Reset & Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

a {
    text-decoration: none;
    opacity:0.8;
    /* color:inherit; */
}

/* Header / Navigation */
header {
    background-color: #0a74da;
    padding: 1rem ;
    position: relative;
    
}

nav ul {
    display: block;
    justify-content: right;
    list-style: none;
    gap: 1.5rem;
}

nav a {
    color: white;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

nav a:hover {
    color: #ffd700;
    transform: scale(1.05);
}

/* Main Content */
/* main {
    padding: 2rem 1rem;
} */
 ul{
    padding:20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.card{
    background-repeat: no-repeat;
    background-size: cover;
    height:250px;
     border: 1px solid #ddd;
    border-radius: 8px; 
    padding:8rem 1.5rem;
    text-align:center;
    color:white;
    font-weight:bold;
     margin:10px; 
}
.card button {
    background-color: #0a74da;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
} 
.card button:hover {
    background-color: #095bb5;
    transform: translateY(-2px);
}

 .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
.viewP {
    display: inline-block;
    background-color: #0a74da;
    color: white;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
}

 .viewP :hover { 
    background-color: #095bb5;
    transform: translateY(-2px);
}
.viewP :active{
    color:lightgreen;
}
/* FOOTER */
 footer {
    text-align: center;
    padding: 4rem 1rem;
    background-color: #eee;
 }
  
    /* RESPONSIVE DESIGN */
    @media(min-width:768px){
      header nav ul{
        display:flex;
        justify-content:center;
     }
    header{
          position:sticky;
        top:0;
        z-index:1000;
    }
      .card{
        padding:4rem 1.5rem;
    
   }
    .cards {
        display:flex;
        justify-content:center;
   } 
}
    @media(min-width:1024px){
        header nav ul{
        justify-content:right;
    }
     .card{
        width:1000px;

    }
    }    